@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat.ttf');
    font-family: 'Montserrat-Italic';
    src: url('./fonts/Montserrat-Italic.ttf');
    font-family: 'Inconsolata';
    src: url('./fonts/Inconsolata.ttf');
}

@layer base {
    body {
        height: 100vh;
        @apply dark:bg-mirage-950 dark:text-white font-Montserrat
    }
}

#DisplayNumber {
    font-size: 50dvw;
}
