/* COLOR SCHEME
BG: 0d1b2a
Accents: 1b263b, 415a77, 778da9
Text: e0e1dd */

/* Fonts */
@font-face { /* regular */
    font-family: Inconsolata;
    src: url(InconsolataMono.ttf);
}
@font-face { /* bold */
    font-family: Inconsolata;
    src: url(InconsolataMonoBold.ttf);
}

/* Variables */
:root {
    --BGColor: #0d1b2a;
    --Accent1: #1b263b;
    --Accent2: #415a77;
    --Accent3: #778da9;
    --FGColor: #e0e1dd;
}
/* General */
body {
    font-family: Inconsolata;
    background-color: var(--BGColor);
    color: var(--FGColor);
    color-scheme: dark;
}
#Header {
    position: fixed; top: 0%; left: 0%;
    height: 3em; width: 100%; 
    display: grid; grid-template-columns: 70% 20% 10%;
    background-color: var(--Accent2);
}

#Content {
    margin-top: 3.1em;
}

.Display {
    display: grid; grid-template-columns: 10% 40% 10% 40%;
}
