:root { /* Colors */
    --BGColor: #1a1a1a;
    --Accent: #2a2a2a;
    color-scheme: dark;
}

body {
    background-color: var(--BGColor);
    margin: 0;
}

.NavbarRoot {
    display: flex;
    position: sticky;
    align-items: center; justify-content: center;
    top: 0px;
    background-color: var(--Accent);
}
.NavbarList {
    width: 70%; display: flex;
}
.NavbarList li {
    list-style: none; padding: 1%;
}
#NavbarGap {
    width: 40%;
}
.Main {
    margin: 8px;
}